/* resetPassword.css */

.resetPasswordTemplate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .resetPasswordContent {
    width: 80%;
    max-width: 400px; /* Ajustez la largeur maximale selon vos besoins */
    padding: 20px;
    border-radius: 8px;
    border: 3px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .resetPasswordForm {
    text-align: center;
  }
  
  .return-link {
    margin-top: 20px;
    text-align: center;
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .form-button {
    background-color: #4CAF50; /* Vert */
    color: white;
    border: none; /* Supprimer la bordure */
    padding: 10px 20px; /* Ajuster le padding si nécessaire */
    border-radius: 5px; /* Ajouter des coins arrondis */
    cursor: pointer;
  }
  
  /* Style de survol du bouton */
  .form-button:hover {
    background-color: #45a049; /* Vert plus foncé */
  }
  